page-login {
form {
    margin: 0 auto;
    
}
    
.buttonwrapper {
    text-align: center;
    margin: 0 auto;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}
    
.or {
    text-align: center;
}
    
.forgot {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 0.85em;
}

ion-input {
    padding: 2px;
    font-size: 0.8em;
    border-width: 2px;
    border-style: solid;
    border-color: #7F9CFC;
}
    
.wrapper {
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0.55em;
}
    
#inputpassword {
    margin-top: 15px;
}

.invalid {
    border-color: #FF6153;
}

.error-message .item-inner {
    border: 0 !important;
}

}
.item-md.item-block .item-inner{
    border: 0px;
}
.ion-item.item-block.item.item-md.item-input.ng-pristine.ng-invalid.ng-touched{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.item-md.item-input.input-has-focus .item-inner {
    border-color: #fa6665;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
body > ion-app > ng-component > ion-nav > page-login > ion-header > ion-navbar > div.toolbar-content > img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 2em;
}
