page-login {
form {
    margin-bottom: 32px;

button {
    margin: 25px;
    font-size: 3em;
    width: 80%;
}
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}
    
.or {
    text-align: center;
}
    
.forgot {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 0.5em;
}

ion-input {
    margin-top: 5px;
    padding: 2px;
    font-size: 0.8em;
    border-width: 2px;
    border-style: solid;
    border-color: #7F9CFC;
}

.invalid {
    border-color: #FF6153;
}

.error-message .item-inner {
    border: 0 !important;
}

}
.item-md.item-block .item-inner{
    border-bottom: 0px;
}
.ion-item.item-block.item.item-md.item-input.ng-pristine.ng-invalid.ng-touched{
    box-shadow: none;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{
    border-bottom: 0px;
    box-shadow: none;
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    box-shadow: none;
}
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #fa6665;
  box-shadow: none;
}
body > ion-app > ng-component > ion-nav > page-login > ion-header > ion-navbar > div.toolbar-content.toolbar-content-md > img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 2em;
}