page-robot-list {
    
}
body > ion-app > ng-component > ion-nav > page-robot-list > ion-header > ion-navbar > div.toolbar-content.toolbar-content-md > img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 2em;
}

ion-fab {
    padding-top: 1em;
}

ion-title {
    padding-left: 0.5em;
}

ion-list {
    padding-top: 0;
}
