<ion-header class="headerLogo">
  <ion-navbar>
    <ion-title>
      Choose a robot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="center" *ngFor="let obj of this.robotList">
    <ion-list>
      <ion-item-sliding>
        <ion-item (click)="checkLogin(obj.ip)">
          <ion-avatar item-left>
            <img *ngIf="obj.type == 'NAO' " src="./assets/images/nao.png">
            <img *ngIf="obj.type == 'PEPPER' " src="./assets/images/pepper.png">
            <img *ngIf="obj.type == 'JIBO' " src="./assets/images/jibo.png">
          </ion-avatar>
          <h2>{{ obj.ip }}</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="deleteRobotIP(obj.ip,obj.$key)">
            <ion-icon name="delete"></ion-icon>
            Delete
        </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="center">
    <button class="center" ion-fab (click)="addRobotToList()"><ion-icon name="add"></ion-icon></button>
  </div>




</ion-content>