page-reset-password {
    form {
        margin-bottom: 32px;
}

p {
font-size: 0.8em;
color: #d2d2d2;
}
    
.buttonwrapper {
    text-align: center;
    margin: 0 auto;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
    
.wrapper {
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0.55em;
}

ion-input {
    padding: 2px;
    font-size: 0.8em;
    border-width: 2px;
    border-style: solid;
    border-color: #7F9CFC;
}

.invalid {
border: 2px solid #FF6153;
}
    
#resetbutton {
    margin-top: 25px;
}

.error-message .item-inner {
border: 0 !important;
}

}